# Built application files
*.apk
*.aab
*.apks
*.aar

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration (sdk path, etc)
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db